<h1>Ciclo de Instrucción en ensamblador</h1>
<%= render '/assembler_cpus/show' %>
<% if @assembler_cpu.architecture == 1 %>
	<%= render 'specific_registers' %>
<% else %>
	<%= render 'general_use_registers' %>
<% end %>
<% stylesheet params[:controller] %>
<% javascript 'regex-mask-plugin' %>
