<h1>Estado Inicial de la RAM en ensamblador</h1>
<%= render '/assembler_cpus/show' %>
<%= render 'specific_registers' %>
<% stylesheet params[:controller] %>
<% javascript 'regex-mask-plugin', 'assembler_rams-specific_registers', 'assembler_rams-general_use_registers' %>