<p id="notice"><%= notice %></p>
<div class="container">
  <strong>Arquitectura basada en:</strong>
  <% if @assembler_cpu.architecture == 1 %>
  	<label id="architecture">&nbsp;registros específicos</label>
  <% else %>
  	<label id="architecture">&nbsp;registros de uso general</label>
  <% end %>
  <br>
  <strong>Cantidad de direcciones:</strong>
  <label id="directions">&nbsp;<%= @assembler_cpu.directions %></label>
  <br>
  <strong>PC Inicial:</strong>
  <label id="pc"><%= @assembler_cpu.pc %></label><br>
</div>