<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to image_tag("home.png", :style => "max-width:40px; max-height:40px; margin-top:5px"), "/" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/cpu_binaries/new">Binario</a></li>
        <li><a href="/hexa_cpus/new">Hexadecimal</a></li>
        <li><a href="/assembler_cpus/new">Ensamblador</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      	<li><p class="navbar-text">Ciclo de Instrucción HI</p></li>
        <li><%= image_tag("logo2.png", :style => "max-width:40px; max-height:40px; margin-top:5px") %></li>
        <!--li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Usuario <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Cambiar Contraseña</a></li>
            <li class="divider"></li>
            <li><a href="#">Cerrar Sesión</a></li>
          </ul>
        </li-->
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>