// Place all the styles related to the BinaryCycles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#cycle-binary {
	width: 1200px;
	height: 550px;
    background-image: url("cicloInstruccion.png");
}
#cycle-binary-ram-cells{
 	margin-left:825px;
 	overflow:auto;
	margin-top:8px;
	input {
	    width: 145px;
	    text-align:right; 
    	padding: 2px;
	}
}
#cycle-binary-cpu{
 	margin-left:112px;
 	float:left;
 	margin-top:48px;
	input {
	    width: 166px;
	    padding: 2px;
	}
}
#binary_data_bus{
	width: 166px;
	padding: 2px;
	margin-left:750px;
	margin-top:2px;
	margin-bottom:5px;
}

#binary_dir_bus{
	width: 166px;
	padding: 2px;
	margin-left:750px;
}