// Place all the styles related to the BinaryCycles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#cycle-binary {
	width: 1200px;
	height: 550px;
    background-image: url("cicloInstruccion4.png");
}
#cycle-binary-ram-cells{
 	margin-left:770px;
 	overflow:auto;
	margin-top:8px;
	input {
	    width: 145px;
	    text-align:right;
	}
	.nonborder {
	    border: none;
	}
}
#cycle-binary-cpu{
 	margin-left:105px;
 	float:left;
 	margin-top:43px;
}
#binary_data_bus{
	width: 166px;
	padding: 2px;
	margin-left:480px;
}

#binary_dir_bus{
	width: 166px;
	padding: 2px;
	margin-left:480px;
}