// Place all the styles related to the CPUBinaries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#binary_cods {
	border: 3px solid;
	border-radius: 5px;
	width: 430px;
}

#binary_format{
	border: 3px solid;
	border-radius: 5px;
	width: 430px;
}

#binary_cpu_form{
	width: 430px;
}

#welcome_image {
	width: 870px;
	height: 500px;
	background-image: url("bienvenidos.jpg");
}