// Place all the styles related to the HexaCpus controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#b{
	margin-left:80px;
}

#c{
	margin-left:10px;
}

#d{
	margin-left:170px;
	margin-right:35px;
}

#hexa_instruction {
	border: 3px solid;
	border-radius: 5px;
	width: 490px;
}

#hexa_cods {
	border: 3px solid;
	border-radius: 5px;
	width: 490px;
}

#hexa_cpu_form{
	width: 430px;
}