<p>Hola <%= @resource.email %>!</p>

<p>Alguien solicito un link para cambiar tu contraseña. Puedes hacerlo mediante el siguiente link.</p>

<p><%= link_to 'Cambiar contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si tu no lo solicitaste, por favor ignora este correo.</p>
<p>Tu contraseña no cambiara a menos que sigas el link provisto anteriormente.</p>
