<form action="ram_binaries/create" method="POST">
  <br>
  <br>
  <table>
  <tr>
  	<td> </td>
  	<td> </td>
  </tr>
  <% for i in 0..15 %>
  	<tr>
  	  <td><input type="text" name="dir<%=i%>" id="dir<%=i%>"></td>
  	  <td><input type="text" name="cont<%=i%>" id="cont<%=i%>"></td>
    </tr>
  <% end %> 
  </table>
  <br>
  <input type="submit" value="Aceptar" %>
</form>
